* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;

}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

/* main header */
.head {
background-color: #3161e0;   
width: 100%;
padding: 30px;
font-size: 20px;
}



.logo{
    float: left;
    padding-right: 300px;
    margin: auto;
  
}
.nav{
    float: left;
    padding-right: 300px;
    color: white;
    vertical-align: middles;
  
}
.login{
    float: left;
    
}

.button1 {
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

span{
    margin-right: 10px;
}
/* main header */

.head2 {
    background-image: url(img/jumbo.png);
    background-size: cover;
    color: white;
    text-align: center;
    vertical-align: middle;
}


.textjumbo {
    padding: 100px;
}

.button2 {
    padding: 15px;
    border-radius: 20px;
    background-color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.button3 {
    padding: 15px;
    border-radius: 20px;
    background-color: black;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

h1 {
    font-size: 50px;
}
/* 1section */

main {
    padding: 80px;
}


.img1section {
    float: left;
    width: 50%;

}

.text1section {
    float: left;
    width: 50%;
    padding: 80px;
    
}

/* 2section */


.img2section {
    float: left;
    width: 50%;

}

.text2section {
    float: left;
    width: 50%;
    padding: 80px;
    
}

/* 2section */

/* 3section */

.img3section {
    float: left;
    width: 50%;

}

.text3section {
    float: left;
    width: 50%;
    padding: 80px;
    
}

/* section4 */
.section4 {
    
}