* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;

}
/* main header */
.head {
background-color: blue;    width: 100%;
padding: 30px;
font-size: 20px;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

.logo{
    float: left;
    padding-right: 300px;
    margin: auto;
  
}
.nav{
    float: left;
    padding-right: 300px;
    color: white;
  
}
.login{
    float: left;
    margin-left: 50px;
    
}

.button1 {
    padding: 20px;
    border-radius: 25%;
}
/* main header */